<nav class="navbar navbar-expand-sm bg-custom navbar-dark fixed-top" style="height: 11%; background-color: #0C71C3;">
    <div class="navbar-brand" style="line-height: 95%;">
        <span class="bookTitle" style="margin-left: 180%; font-weight: 500;font-family:Open Sans;font-size:xx-large">Estock</span>
        <br/>
        <span class="bookPrice" style="margin-left: 183%; font-size:small">Management System</span>
    </div>
    <ul class="navbar-nav ml-auto" style="margin-right: 20%;">
        <li class="nav-item">
          <a class="nav-link" routerLink='' routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/register' routerLinkActive='active' href="#" [routerLinkActiveOptions]="{ exact: true }">User Registration</a>
        </li>
      </ul>
  </nav>
  